* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: system-ui; */
/* font-family: "Kepler Std Condensed Subhead"; */
/* font-family: "Suisse Intl Regular";
 font-family: "PP Editorial New"; */

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, Arial, sans-serif;
  position: relative;
}
.border {
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #ffffff00;
  border: 50px solid #fff;
  z-index: 2;
}
header h1 {
  position: absolute;
  top: -35px;
  font-size: 1.1rem;
  font-family: system-ui;
  font-weight: 600;
  letter-spacing: 0.5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  color: #000;
  display: block;
}
#main {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  background-color: #191919;
}
.menu {
  position: absolute;
  display: block;
  bottom: -40px;
  left: 50%;
  color: #fff;
  background-color: #000;
  padding: 5px 20px;
  border-radius: 20px;
  z-index: 3;
}
.main-video {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: 100vh;
  border-radius: 100px;
}

.main-video video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
}
.full-div {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: #19191922;
}
.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3;
  font-size: 4rem;
  font-family: -apple-system system-ui;
  line-height: 0.7;
  letter-spacing: 0.3;
  font-weight: 300;
}

.heading-text {
  margin: 45vh 3rem 45vh 3rem;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.ltext {
  width: 20rem;
  font-size: 1rem;
  font-weight: 400;
  color: #cfcfcf;
  font-family: "Suisse Intl Regular";
  text-align: start;
  margin-top: 1rem;
}
.rtext {
  width: 60rem;
  font-size: 5.5rem;
  font-weight: 400;
  color: #cfcfcf;
  font-family: "Kepler Std Condensed Subhead";
  padding-left: 6rem;
  line-height: 1;
}
.project {
  position: relative;
  /* margin-bottom: 90vh; */
}
.line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 0.1rem;
  background-color: #cfcfcf;
}
.p1 {
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
  color: #cfcfcf;
  background-color: #191919;
  padding: 5px 40px;
  border: #191919;
}
.product-img {
  position: relative;
  width: 100vh;
  height: 200vh;
  text-align: center;
}
.img-1 {
  position: absolute;
  width: 15vw;
  height: 50vh;
 background-image: url("../Images/Screenshot_20240325-153056_Chrome.jpg");
  background-size: cover;
  top: 60vh;
  z-index: 99;
  border-radius: 20px;
  left: 15vw;
}
.img-2 {
  position: absolute;
  width: 30vw;
  height: 50vh;
  background-image: url("../Images/istockphoto-1546442230-1024x1024.jpg");
  background-size: cover;
  top: 30vh;
  border-radius: 20px;
  z-index: 99;
  left: 60vw;
}

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50vw;
  height: 40vh;
  /* background-color: red; */
  text-align: center;
}
.text p {
  color: #d4d4d4;
}
.text h1 {
  font-size: 6rem;
  color: #ebebeb;
  font-family: "Kepler Std Condensed Subhead";
  font-weight: 400;
  border-bottom: 3px solid #cfcfcf;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.img-3 {
  width: 48vw;
  height: 50vh;
  display: flex;
  position: absolute;
  left: 50%;
  top: 70%;
  width: 50vw;
  height: 40vh;
  border-radius: 30px;
  z-index: 99;
}
.imgA {
  width: 16vw;
  height: 50vh;
  background-image: url("../Images/brian-lawson-jRztw-pVdyk-unsplash.jpg");
  background-size: cover;
  border-radius: 30px 0 0 30px;
}
.imgB {
  width: 16vw;
  height: 50vh;
  background-image: url("../Images/raamin-ka-8J56bYMT3-Q-unsplash.jpg");
  background-size: cover;
}
.imgC {
  width: 16vw;
  height: 50vh;
  background-image: url("../Images/mahdi-chaghari--h-O5_xkO0g-unsplash.jpg");
  background-size: cover;
  border-radius: 0 30px 30px 0;
}
.img-3 img {
  width: 16vw;
  height: 50vh;
}
.product-item,
.product-img1,
.product-img2,
.product-img3,
.product-img4 {
  position: relative;
  width: 100vh;
  height: 200vh;
  text-align: center;
}
.img-item-1 {
  position: absolute;
  width: 35vw;
  height: 35vh;
  background-image: url("../Images/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg");
  background-size: contain;
  top: 40vh;
  z-index: 99;
  border-radius: 20px;
  left: 10vw;
}
.img-item-2 {
  position: absolute;
  width: 15vw;
  height: 45vh;
  background-image: url("../Images/pmv-chamara-OXYOFT9gTOE-unsplash.jpg");
  background-size: cover;
  top: 60vh;
  right: 0;
  border-radius: 20px;
  z-index: 99;
  left: 70vw;
}
.img-item-3 {
  width: 48vw;
  height: 50vh;
  display: flex;
  position: absolute;
  background-image: url("../Images/istockphoto-1546442230-1024x1024.jpg");
  background-size: cover;
  left: 50%;
  top: 65%;
  width: 50vw;
  height: 40vh;
  border-radius: 30px;
  z-index: 99;
}
.imgA-1 {
  width: 12vw;
  height: 50vh;
  background-color: salmon;
  /* background-image: url(/Images/brian-lawson-jRztw-pVdyk-unsplash.jpg); */
  background-size: cover;
  border-radius: 30px 0 0 30px;
}
.imgB-2 {
  width: 12vw;
  height: 50vh;
  background-color: salmon;
  /* background-image: url(/Images/raamin-ka-8J56bYMT3-Q-unsplash.jpg); */
  background-size: cover;
}
.imgC-3 {
  width: 12vw;
  height: 50vh;
  background-color: salmon;
  /* background-image: url(/Images/mahdi-chaghari--h-O5_xkO0g-unsplash.jpg); */
  background-size: cover;
  border-radius: 0 30px 30px 0;
}

.i1 {
  width: 15vw;
  height: 50vh;
}
.i2 {
  width: 30vw;
  height: 40vh;
}
.i3 {
  width: 40vw;
  height: 40vh;
  left: 60%;
  background-image: url("../Images/premium_photo-1661964205360-b0621b5a9366.jpeg");
  background-size: contain;
  /* background-color: antiquewhite; */
}
.b1 {
  width: 30vw;
  height: 35vh;
  background-image: url("../Images/neom-FuusC7lfg6Q-unsplash.jpg");
  background-size: cover;
}
.b2 {
  width: 30vw;
  height: 45vh;
  background-image: url("../Images/neom-VJRruV21Fa8-unsplash.jpg");
  background-size: cover;
}
.b3 {
  width: 35vw;
  height: 45vh;
  background-image: url("../Images/ricardo-gomez-angel-t2yh3mlISdQ-unsplash.jpg");
  background-size: cover;
  left: 65%;
  top: 65%;
}
.a1 {
  width: 25vw;
  height: 30vh;
  background-image: url("../Images/ameer-basheer-euyV2Ae_KX0-unsplash.jpg");
  background-size: cover;
}
.a2 {
  width: 30vw;
  height: 40vh;
  background-image: url("../Images/maarten-van-den-heuvel-Siuwr3uCir0-unsplash.jpg");
  background-size: cover;
}
.a3 {
  width: 45vw;
  height: 45vh;
  background-color: yellow;
  background-image: url("../Images/zac-wolff-uuwA21vmI3o-unsplash.jpg");
  background-size: cover;
}
.footer {
  position: relative;
  width: 100vw;
  height: 88vh;
  background-color: #191919;
}
.line {
  position: absolute;
  width: 70vw;
  height: 2px;
  background-color: #cfcfcf;
}
.f1 {
  display: flex;
  color: #ffffff;
  margin: 15rem 3rem 0 14rem;
}
.ff1 h1 {
  font-size: 11rem;
  font-family: "Kepler Std Condensed Subhead";
  font-weight: 400;
}
.ff2 {
  padding-top: 3rem;
  font-size: 1.3rem;
}
.ff22 {
  padding-top: 5rem;
  font-size: 1.3rem;
}
.f2 {
  display: flex;
  color: #ffffff;
  margin: 0 8rem 3rem 14rem;
  padding-left: 10rem;
}
.ff21 h1 {
  font-size: 11rem;
  font-family: "Kepler Std Condensed Subhead";
  font-weight: 400;
}
